<?xml version="1.0" encoding="utf-8" standalone="no"?>
<config>
    <database>
        <db-driver>com.mysql.jdbc.Driver</db-driver>
        <db-address>localhost</db-address>
        <db-port>3306</db-port>
        <db-name>imdb</db-name>
        <db-username>root</db-username>
        <db-userpassword>admin</db-userpassword>
    </database>
    <theme>
        <default-theme>dark</default-theme>
        <theme-set id="blue">
        	<theme-name>blue</theme-name>
        	<bg-color>
        		<red>0</red>
        		<green>0</green>
        		<blue>255</blue>
        	</bg-color>
        	<font-color>
        		<red>255</red>
        		<green>255</green>
        		<blue>255</blue>
        	</font-color>
        	<float-color>
        		<red>54</red>
        		<green>146</green>
        		<blue>236</blue>
        	</float-color>
        	<font-click>
        		<red>0</red>
        		<green>0</green>
        		<blue>255</blue>
        	</font-click>
        	<bg-click>
        		<red>255</red>
        		<green>255</green>
        		<blue>255</blue>
        	</bg-click>
        	<font-type>黑体</font-type>
        </theme-set>
        <theme-set id="green">
      		<theme-name>green</theme-name>
      		<bg-color>
        		<red>0</red>
        		<green>255</green>
        		<blue>0</blue>
        	</bg-color>
        	<font-color>
        		<red>255</red>
        		<green>255</green>
        		<blue>255</blue>
        	</font-color>
        	<float-color>
        		<red>73</red>
        		<green>242</green>
        		<blue>67</blue>
        	</float-color>
        	<font-click>
        		<red>0</red>
        		<green>255</green>
        		<blue>0</blue>
        	</font-click>
        	<bg-click>
        		<red>255</red>
        		<green>255</green>
        		<blue>255</blue>
        	</bg-click>
        	<font-type>黑体</font-type>
        </theme-set>
        <theme-set id="dark">
        	<theme-name>dark</theme-name>
      		<bg-color>
        		<red>35</red>
        		<green>35</green>
        		<blue>35</blue>
        	</bg-color>
        	<font-color>
        		<red>255</red>
        		<green>255</green>
        		<blue>255</blue>
        	</font-color>
        	<float-color>
        		<red>88</red>
        		<green>88</green>
        		<blue>88</blue>
        	</float-color>
        	<font-click>
        		<red>0</red>
        		<green>0</green>
        		<blue>0</blue>
        	</font-click>
        	<bg-click>
        		<red>255</red>
        		<green>255</green>
        		<blue>255</blue>
        	</bg-click>
        	<font-type>黑体</font-type>
        </theme-set>
		
	</theme>
</config>
